@import '../../auxiliaryStyle/variable.scss';
@import '../../auxiliaryStyle/fonts.scss';
@import '../../auxiliaryStyle/mixins.scss';

.Page-content {
    @include flex-d-column;
    margin-top: 72px;
    align-items: center;

    @media (min-width: 700px) and (max-width: 993px){
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
    }
    // @media (min-width: 700px) and (max-width: 720px){
    //     justify-content: space-between;
    // }
}