@import '../../auxiliaryStyle/variable.scss';
@import '../../auxiliaryStyle/fonts.scss';
@import '../../auxiliaryStyle/mixins.scss';

.loginSignup-template {
    @include flex-d-column;
    align-items: center;
    margin: 35px 0px 37px 0px;
    font-size: 12px;
   
    a{
        color: $linkPinkColor;
    }
}