@import '../../auxiliaryStyle/variable.scss';
@import '../../auxiliaryStyle/fonts.scss';
@import '../../auxiliaryStyle/mixins.scss';

.wrapper-loader {
    @include flex-jc-center;
    @include background-i;
    align-items: flex-end;
    background-color: white;
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom:  12vh;
    background-image: url(../../img/loaderback.jpg);
    transform: translateX(0%);
    animation-name: disappear;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in-out;

    @media (orientation:landscape){
        align-items: start;
        justify-content: flex-start;
        background-size: cover;
        padding: 12vh 0 0 10vw;
    }
}

@keyframes disappear {

    70% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-150%);
    }
}
