@import '../../auxiliaryStyle/variable.scss';
@import '../../auxiliaryStyle/fonts.scss';
@import '../../auxiliaryStyle/mixins.scss';

.signupPage-content {
    margin-top: 130px;
    .prompt {
        width: $inputWidth;
        margin-bottom: 24px;
        font-size: 8px;
    }
}