
$logoColor: #F7C1D8;
$contentColor: #A1A7DB;
$formTextColor: #c4c4c4;
$buttonSuccessColor: #79F89E;
$linkPinkColor: #ECC4DA;
$buttonDisabledColor: rgba(121, 248, 157, 0.555);
$mainFont: 'Poppins', sans-serif;
$logoFont: 'Sacramento', cursive;
$inputWidth: 302px;
$inputHeight: 52px;
$mainBorderR: 4px;