@import '../../auxiliaryStyle/variable.scss';
@import '../../auxiliaryStyle/fonts.scss';
@import '../../auxiliaryStyle/mixins.scss';

.mainPage-content {
    justify-content: flex-start;
    margin: 0px 0px 51px 0px;
    padding-top: 51px;
    display: flex;
    
    .banner-block{
        a {
            color: white;
            display: flex;
            position: relative;
            line-height: 35px;

            img {
                width: 100%;
                height: auto;
            }

            h2{
                background-color: $logoColor;
                width: 100%;
            }

            h2, div {
                position: absolute;
                bottom: 0;
                padding: 0px 10px 0px 10px;
            }

            div{
                border-radius: 0px 0px 0px 15px;
                right: 0;
                background-color: $contentColor;
            }
        }
    }
}